.card .card-image .card-title {
    font-weight: 500;
}
.wlcm{
    font-size: 15px;
    text-align: center;
    margin: 0;
}
.acceder{
    font-size: 18px;
    font-weight: 600;
    color: #757575;
    margin-top: 10px; 
    margin-bottom: 7px;
}
.gray-text{
    color: #757575;
}