<ul id="dropdown1" class="dropdown-content">
    <li>
        <a href="/login">
            <i class="material-icons">close</i> Cerrar Sesión
        </a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="#!">
            <i class="material-icons">info</i> Acerca del Sistema
        </a>
    </li>
</ul>
<nav>
    
    
    <div class="nav-wrapper blue">
      
        <a href="/home" class="brand-logo left">
            <img height="60px" src="assets/images/logo-blanco.png" alt="Banco Azul">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a class="dropdown-trigger" data-target="dropdown1">
                    Luis Alonso Guzmán Espinoza <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col m2">

        </div>
        <div class="col m10">
            <div class="row">
                <div class="col s12">
                    <h3>Proyectos</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue pulse"><i class="material-icons">add</i></a>
</div>